<div class="user-item">
    <img class="user-photo" src="<%=user.Photo%>" alt="<%= user.Name%>">
    <div class="user-details">
        <a class="user-name" href="/users/<%=user.id%>">
            <%=user.Name%>
        </a>
        <h3 class="post-number" align="right">
            Number of Posts:<%=user.posts.size%>
        </h3>
    </div>
</div>