<section class="user-section">
<%if user_signed_in?%>
    <%= render "user" ,user:@user%>
        <div class="bio-wrapper">
            <h3 class="bio-title">Bio</h3>
            <p class="bio-text">
                <%= @user.Bio%>
            </p>
        </div>
        <ul class="most-recent-posts">
            <% @user.most_recent_posts.each do |post|%>
                <li class="post">
                    <%= render "post" ,post:post%>
                </li>
                <%end%>
        </ul>
        <button class="all-posts">
            <%= link_to user_posts_path(@user.id) do%>
                See All Posts
                <%end%>
        </button>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete  %>
        <%= link_to 'Edit Account' ,edit_user_registration_path%>
        <%else%>
        <%= link_to 'sign up' ,new_user_registration_path%>
        <%= link_to 'sign in' ,new_user_session_path %>
        <%end%>
</section>